<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controler.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>Controler.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>Controler.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Controler.Cart_Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>Controler.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testing</servlet-name>
        <servlet-class>controler.testing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controler.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCart</servlet-name>
        <servlet-class>Controler.EditCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCart</servlet-name>
        <servlet-class>Controler.ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBlogServlet</servlet-name>
        <servlet-class>Controler.ListBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCart</servlet-name>
        <servlet-class>Controler.DeleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartComplete</servlet-name>
        <servlet-class>Controler.CartComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedback</servlet-name>
        <servlet-class>Controler.AddFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>Controler.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailServlet</servlet-name>
        <servlet-class>Controler.ViewBlogDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderServlet</servlet-name>
        <servlet-class>Controler.ListOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditShipAddress</servlet-name>
        <servlet-class>Controler.EditShipAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAddress</servlet-name>
        <servlet-class>Controler.DeleteAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAddress</servlet-name>
        <servlet-class>Controler.AddAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAddress2</servlet-name>
        <servlet-class>Controler.AddAddress2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditShipAddress2</servlet-name>
        <servlet-class>Controler.EditShipAddress2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListAddress</servlet-name>
        <servlet-class>Controler.ViewListAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>Controler.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>Controler.UserDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterUserServlet</servlet-name>
        <servlet-class>Controler.FilterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>Controler.SearchUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterBlogServlet</servlet-name>
        <servlet-class>Controler.FilterBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBlogServlet</servlet-name>
        <servlet-class>Controler.SearchBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailMKTServlet</servlet-name>
        <servlet-class>Controler.BlogDetailMKTServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyListBlogServlet</servlet-name>
        <servlet-class>Controler.MyListBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogServlet</servlet-name>
        <servlet-class>Controler.EditBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAddress</servlet-name>
        <servlet-class>Controler.UpdateAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSellProduct</servlet-name>
        <servlet-class>Controler.ListSellProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBrand</servlet-name>
        <servlet-class>Controler.ViewBrand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testing</servlet-name>
        <url-pattern>/testing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCart</servlet-name>
        <url-pattern>/editcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCart</servlet-name>
        <url-pattern>/viewcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCart</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartComplete</servlet-name>
        <url-pattern>/cartcomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedback</servlet-name>
        <url-pattern>/addfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBlogServlet</servlet-name>
        <url-pattern>/listblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailServlet</servlet-name>
        <url-pattern>/viewblogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderServlet</servlet-name>
        <url-pattern>/listorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditShipAddress</servlet-name>
        <url-pattern>/EditShipAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAddress</servlet-name>
        <url-pattern>/DeleteAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAddress</servlet-name>
        <url-pattern>/AddAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAddress2</servlet-name>
        <url-pattern>/AddAddress2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditShipAddress2</servlet-name>
        <url-pattern>/EditShipAddress2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListAddress</servlet-name>
        <url-pattern>/ViewListAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/userdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterUserServlet</servlet-name>
        <url-pattern>/filteruser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/searchuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterBlogServlet</servlet-name>
        <url-pattern>/filterblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBlogServlet</servlet-name>
        <url-pattern>/searchblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailMKTServlet</servlet-name>
        <url-pattern>/blogdetailmkt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyListBlogServlet</servlet-name>
        <url-pattern>/mylistblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogServlet</servlet-name>
        <url-pattern>/editblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAddress</servlet-name>
        <url-pattern>/updateaddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSellProduct</servlet-name>
        <url-pattern>/ListSellProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBrand</servlet-name>
        <url-pattern>/ViewBrand</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
